<h1>Showing Article Details</h1>
<p><%= link_to 'Back', articles_path %></p>

<p><b>Title: </b> <%= @article.title %></p>
</br>
<p><b>Description: </b> <%= @article.description %></p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are You Sure You Want To Delete?"} %>
